body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #a8e6cf, #dcedc1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Main container */
.container {
    background-color: white;
    padding: 30px;
    outline: 10px groove rgb(132, 189, 255);
    border-radius: 12px;
    width: 320px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

h1 {
    color: #163955;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #2e7d32;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #1b5e20;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}